@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.color_primary {
    color: #FD6E0A;
}

/* .active{
    color: #FFF;
    background-color: #FD6E0A;
} */

body {
    max-width: 1600px;
}

/* Header Section Styles */
header {
    background-color: #FFF8F3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 220px;
}

nav h3 {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 800;
}

nav .logo {}

nav .menu {}

nav .menu a {
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #474747;
    transition: .3s all ease-in;
}

nav .menu a:hover {
    color: #FFF;
    background-color: #FD6E0A;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
}

.banner_info {
    padding-left: 230px;
    flex-basis: 40%;
}

.banner_info h3 {
    font-weight: 600;
    font-size: 45px;
}

.banner_info h1 {
    font-weight: 700;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner_info p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}

.banner_info_btn {}

.banner_info_btn a {
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #474747;
    transition: .3s all ease-in;
}

.banner_info_btn a:hover {
    color: #FFF;
    background-color: #FD6E0A;
}

.banner_img {}

/* Main Section Styles */
.main {
    margin: 130px 230px;
    text-align: center;
}

.section_title {
    font-size: 35px;
    font-weight: 700;
}

.sec_disc {
    margin: 30px auto;
    font-size: 18px;
    color: #757575;
}

/* Style For About Me Section */
.about_me {
    background-color: #FFF8F3;
    padding: 130px 150px;
    border-radius: 10px;
}

.my_details {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.my_details_title {
    color: #757575;
}

.my_details_disc {
    color: #474747;
}


/* Skill Section Styles */
.my_skills {
    padding: 130px 0px;
}

.skill_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    text-align: left;
}

.skill_details {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill_title {
    font-size: 20px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill_disc {
    color: #757575;
}

/* Resume Section Style */
.my_resume {}

.resume_title {
    margin-bottom: 110px;
    font-weight: 700;
    font-size: 35px;
    text-transform: capitalize;
    color: #181818;
}

.resume_main_title {
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    color: #474747;
}

.edu_experience {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: left;
}

.education {}

.edu_details {
    border-bottom: 1px solid #D1D1D1;
}

.edu_details:last-child {
    border: none;
}

.edu_title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}

.edu_since {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.edu_disc {
    color: #757575;
    line-height: 28px;
    text-align: left;
    margin-bottom: 30px;
}

.primary_btn {
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #474747;
    transition: .3s all ease-in;
    border: 0;
    margin-top: 20px;
    margin-bottom: 100px;
}
.primary_btn:hover {
    color: #FFF;
    background-color: #FD6E0A;
}

/* Footer Style */
.footer_container{
    display: flex;
    justify-content: space-between;
    padding: 130px 230px 0px;
    background-color: #FFF8F3;
    gap: 110px;
}
.social{
    flex-basis: 50%;
}
.social_title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.social_disc{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.social_icon{}

.form{
    flex-basis: 50%;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    border: 0;
    margin-bottom: 20px;
    padding: 18px 30px;
    border-radius: 5px;
}